<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>
    <h1>Create a new instance contract</h1>
    <div id="businessAddress" data-param="{{ data.business_address }}"></div>
    <div id="masterContractAddress" data-param="{{ data.master_contract_address }}"></div>

    <div class="content">
    <p>Please, take action in your web3 wallet, you can close the page after transaction approval/rejection</p>
</div>

    <script src="https://cdn.jsdelivr.net/npm/web3@1.5.3/dist/web3.min.js"></script>
    <script>
        window.onload = async function () {
            if (window.ethereum) {
                window.web3 = new Web3(ethereum);
                try {
                    await ethereum.enable();
                } catch (error) {
                    console.error("User denied account access");
                }
            } else if (window.web3) {
                window.web3 = new Web3(web3.currentProvider);
            } else {
                console.error("Non-Ethereum browser detected. You should consider trying MetaMask!");
            }

            const contractAddress = document.getElementById('masterContractAddress')
                .getAttribute('data-param');

            const contractABI = [
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "_feeManagementContract",
				"type": "address"
			},
			{
				"internalType": "uint256",
				"name": "_serviceFeePercent",
				"type": "uint256"
			},
			{
				"internalType": "address",
				"name": "initialOwner",
				"type": "address"
			}
		],
		"stateMutability": "nonpayable",
		"type": "constructor"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "owner",
				"type": "address"
			}
		],
		"name": "OwnableInvalidOwner",
		"type": "error"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "account",
				"type": "address"
			}
		],
		"name": "OwnableUnauthorizedAccount",
		"type": "error"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "business",
				"type": "address"
			},
			{
				"indexed": false,
				"internalType": "address",
				"name": "instanceContract",
				"type": "address"
			}
		],
		"name": "InstanceContractCreated",
		"type": "event"
	},
	{
		"anonymous": false,
		"inputs": [
			{
				"indexed": true,
				"internalType": "address",
				"name": "previousOwner",
				"type": "address"
			},
			{
				"indexed": true,
				"internalType": "address",
				"name": "newOwner",
				"type": "address"
			}
		],
		"name": "OwnershipTransferred",
		"type": "event"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "business",
				"type": "address"
			}
		],
		"name": "createInstanceContract",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "feeManagementContract",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"name": "instanceContracts",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "owner",
		"outputs": [
			{
				"internalType": "address",
				"name": "",
				"type": "address"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "renounceOwnership",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"inputs": [],
		"name": "serviceFeePercent",
		"outputs": [
			{
				"internalType": "uint256",
				"name": "",
				"type": "uint256"
			}
		],
		"stateMutability": "view",
		"type": "function"
	},
	{
		"inputs": [
			{
				"internalType": "address",
				"name": "newOwner",
				"type": "address"
			}
		],
		"name": "transferOwnership",
		"outputs": [],
		"stateMutability": "nonpayable",
		"type": "function"
	}
];

            const businessAddress = document.getElementById('businessAddress')
                .getAttribute('data-param');

            const contract = new web3.eth.Contract(contractABI, contractAddress);

            const accounts = await web3.eth.getAccounts();
            const userAddress = accounts[0];

            if (userAddress !== businessAddress) {
                console.log('Metamask address and address specified in tg bot are not the same!')
            }

            try {
                const result = await contract.methods.createInstanceContract(userAddress).send({
                    from: userAddress,
                    gas: 2000000,
                    gasPrice: web3.eth.gasPrice
                });

                console.log('Successfully registered!');
                console.log('Transaction Hash:', result.transactionHash);
                console.log('Instance contract address:', result);

            } catch (error) {
                console.error('Error interacting with smart contract:', error);
            }
        };
    </script>
</body>
</html>
